/****************************/
/*    Clickable DIV         */
/****************************/

div.clickable { /* Containing div must have a position value */
    position:relative;
}

div.clickable a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}


/****************************/
/*    Clickable Row Links   */
/****************************/

table {
    position: relative;
}

tr {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
}

.rowlink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5em; /* don't forget to set the height! */
}


/****************************/
/* Button Shaped Table Rows */
/****************************/

.table-button {
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 5px;  this is the ultimate fix */
}
.table-button th {
    text-align: left;
    padding: 5px 15px;
}
.table-button td {
    border-width: 3px 0;
    width: 50%;
    color: white;
    background-color: #3d9970 !important;
    padding: 5px 15px;
}
.table-button td:first-child {
    border-left-width: 3px;
    border-radius: 5px 0 0 5px;
}
.table-button td:last-child {
    border-right-width: 3px;
    border-radius: 0 5px 5px 0;
}
.table-button thead {
    display: table;
    table-layout: fixed;
}

.table-button td a {
    color: inherit !important;
}

.table-button tr:hover td {
    background-color: #368763 !important;
}
