.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.display-none {
    display:none;
}

.truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smallmargin {
    margin-top: 0px  !important;
    margin-right: 0px  !important;
    margin-bottom: 0px  !important;
    margin-left: 5px  !important;
}

.wrap {
    white-space: normal;
}
